* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/img/ocean.jpg");
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    box-shadow: 1px 1px 1rem #000;
    width: 850px;
}

/* IMG - FORUM */
.image {
    width: 400px;
    height: 500px;
    position: relative;
}
.text h2 {
    position: absolute;
    top: -0.6rem;
    color: #E3ECEE;
    left: 2.5rem;
    text-align: center;
    font-size: 25px;
    letter-spacing: .3em;
}
.line {
    height: 1.5px;
    width: 70%;
    border: none;
    background-color: #E3ECEE;
    position: absolute;
    left: 4rem;
    top: 3.5rem;
}
.image img {
  width: 400px;
  background-position: cover;
  position: absolute;
  top: -3.11rem;
  box-shadow: #000 ;
  
}
.overlay {
    background: #000;
    opacity: .3;
    position: absolute;
    /* inset: 1; */
    width: 380px;
    height: 580px;
    left: .6rem;
    top: -2.5rem;
}

/* FORUM */
.form {
    height: 600px;
    width: 450px;
    background-color: #fff;
    
}
.headline h1 {
    margin-top: 3rem;
    margin-left: 1.5rem;
    justify-content: center;
    color: #0C4972;
   
}
.line-2 {
    margin-left: 1.5rem;
    width: 85%;
    border: none;
    height: 1.5px;
    background-color: #0C4972;
}
.headline p {
    margin-top: 1rem;
    margin-left: 1.5rem;
}