:root {
    ---clr-primary: #015675;
    ---clr-secondary:#E3ECEE;
    ---clr-success: #72b372;
    ---clr-error: #c95050;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/img/ocean.jpg");
}
.wrapper {
    margin: auto;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 5px solid #333;
    align-items: center;
    height: 100vh;
}
.btn {
    margin-left: 1.5rem;
    margin-top: 1rem;
    height: 3.2rem;
    border: none;
    width: 85%;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .1rem;
    border: transparent;
    background: transparent;
}
.btn-primary {
    background: #015675;
    color: #fff;
    transition: background 100ms;
    border-radius: .3rem;
}
.btn-primary:hover,
.btn-primary:focus {
    background-color: #024158;
}
.btn-primary:active {
    background-color: #023346;
}

/*---- IMAGE ----*/
.left {
    background: url("/img/turtle.jpg") #3333333f;
    width: 400px;
    height: 550px;
    background-size: cover;
    background-blend-mode: multiply;
    border-width: 7px;
    border-style: solid;
    border-image: linear-gradient(#A1CFCC,#CAD0C6) 1;
}
.text h2{
    margin-top: 1rem;
    color: var(---clr-secondary);
    text-align: center;
    font-size: 25px;
    letter-spacing: .3em;
}
.line {
    height: 2px;
    width: 300px;
    margin-left: 2.5rem;
    margin-top: .5rem;
    border: none;
    background-color: var(---clr-secondary);
}

/* VALUE OUTPUT */
.box {
    width: 300px;
    height: 50px;
    border: 2px solid var(---clr-secondary);
    margin-left: 2.5rem;
    margin-top: 1.2rem;
    display: flex;
    position: relative;
}
.value-name,
.value-email {
 color: #fff;
 margin-left: .3rem;
}
.name {
    display: flex;
}
.value-name{
    margin-top: .3rem;
    font-size: 18px;
    font-weight: 400;
}
.value-email{
    font-size: 15px;
}
.btn-value {
    border: transparent;
    background: transparent;
    color: var(---clr-primary);
    margin-left: 5rem;
    cursor: pointer;
}
.btn-value:hover,
.btn-value:focus {
color: #024158;
transition: background 100ms;
}
.edit {
    font-size: 1rem;
    position: absolute;
    right: 2.5rem;
    top: 1rem;
}
.delete {
    font-size: 1.4rem;
    position: absolute;
    right: 1rem;
    top: .8rem;
}

/*---- FORM ----*/
.right {
    background-color: #fff;
    width: 450px;
    height: 550px;
}
.headline h1 {
    margin-top: 1.3rem;
    margin-left: 1.7rem;
    color: #0C4972;
}
.line-2 {
    margin-left: 1.7rem;
    width: 23.8rem;
    border: none;
    height: 2px;
    background-color: #0C4972;
}
.headline p {
    margin-top: .5rem;
    margin-left: 1.7rem;
    font-size: 18px;
}
.input-group {
    padding-bottom: 15px;
    position: relative;
}
.form-control:focus {
    outline: 1px solid #888888;
}
.input-group input {
    margin-top: 1.3rem;
    width: 85%;
    height: 3rem;
    border: 1.5px solid #b9b8b8;
    border-radius: .3rem;
    margin-left: 1.5rem;
}
input[type=text] {
    padding: 12px;
    font-size: 16px;
    color: #727272;
}
.email {
    padding: 12px;
    font-size: 16px;
    color: #8d8c8c;
}
.fa-check-circle,
.fa-exclamation-circle {
    position: absolute;
    right: 3.2rem;
    top: 2.3rem;
}
.fa-check-circle {
    color: #72b372;
}
/* SUCCESS */
.success .form-control {
    border: 1px solid #72b372;
    outline-color: 1px solid #72b372;

}
.success .fa-check-circle {
    visibility: visible;
}

/* ERROR */
.error .form-control {
    border: 1px solid #c95050;
    outline-color: 1px solid #c95050;
}
.error .fa-exclamation-circle {
    visibility: visible;
}
.input-group p {
    position: absolute;
    top: 4.5rem;
    left: 1.5rem;
    display: none;
    right: 1.5rem;
    color: #c95050;
    font-size: 14px;
}
.error .invalid-input{
    display: block;
}
.fa-exclamation-circle {
    color: #c95050;
}

.input-group i {
    visibility: hidden;
}